html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Sarabun', sans-serif;
  font-size: 16px;
}

input, button {
  font-family: 'Sarabun', sans-serif;
  font-size: 16px;
}
input,
button,
submit {
  border: none;
}
li{
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
h1, h2 {
  margin: 15px 0;
}
p{
  margin: 5px 0;
  font-size: 16px;
}
* {
  box-sizing: border-box;
}

.jr_container {
  max-width: 1500px;
  margin: 0 auto;
  /* padding: 0 15px; */
}
.but_blue {
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  background-color: #65acf0;
  color: white;
  max-height: 48px;
  font-size: 2vh;
}

.jr_icon{
  vertical-align: middle;
  /* margin: 0 5px; */
}

.but_primary_w{
  padding: 11px;
  border: 1px solid #002161;
  background-color: white;
  border-radius: 5px;
  color:#002161;
  margin: 10px 0;
}
.but_primary_w:hover  svg{
  fill: white;
  transition: all ease 0.2s;


}
.but_primary_w:hover {
  background-color: #002161;
  color: white;
  transition: 0.5s;
  fill: #fce57e;

}
.but_primary{
  padding: 11px;
  border: 1px solid #002161;
  background-color: #002161;
  border-radius: 8px;
  color:white;
}

.but_primary:hover{
  background-color: #0f388a;
  transition: 0.5s;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.3);
  z-index: 2;
  min-width: 160px;
  text-align: left;
}
.dropdown-content h4 {
  display: block;
  padding: 12px 16px;
  text-align: left;
  color: gray;
}

.dropdown_jr:hover .dropdown-content{
  display: block;
}

.jr_sky{
  color:#65acf0;
}
.jr_chip{
  font-size: 12px;
  border: 1px solid #002161;
  background-color: white;
  border-radius: 3px;
  text-align: center;
  padding: 2px 5px;
  width: fit-content;
  line-height:14px;
}


.text_color_primary{
  color: #002161
}
.text_color_sky{
  color: #65acf0;
}
.jr_chip:active{
  border: 1px solid red;

}

.jr_f14{
  font-size: 14px;
}
.jr_f12{
  font-size: 12px;
}
