/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Sarabun:wght@300&display=swap");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css"); */

@font-face {
  font-family: "Montserrat";
  src: url("./font/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("./font/Montserrat-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./font/Montserrat-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./font/Montserrat-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("./font/Montserrat-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Sarabun", sans-serif;
  font-size: 16px;
  /* font-weight: inherit; */
}
:root {
  --color_primary: #002161;
  --color_blue: #65acf0;
  --color_gray: #979797;
  --color_light_blue: #9bdeff;
}

input,
button {
  font-size: 16px;
  font-family: "Montserrat", "Sarabun", sans-serif;
  cursor: pointer;
}
input,
button,
submit {
  border: none;
}
select,
option,
label,
span {
  font-family: "Montserrat", "Sarabun", sans-serif;
}
textarea:focus,
input:focus {
  outline: none;
}
li {
  list-style: none;
}
hr {
  border-top: 1px solid #f9f9f9;
}
a {
  font-family: "Montserrat", "Sarabun", sans-serif;
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin:5px 0;
}

h1 {
  font-size: 32px;
  font-family: "Montserrat-Bold";
}
h2 {
  font-size: 24px;
  font-family: "Montserrat-Medium";
}
h3 {
  font-family: "Montserrat-SemiBold";
}
h4 {
  font-size: 16px;
  font-family: "Montserrat-SemiBold";
}
h5 {
  font-size: 16px;
  font-family: "Montserrat-Medium";
}
p {
  font-size: 16px;
}
* {
  box-sizing: border-box;
}

.jr_container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
.but_blue {
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  background-color: #65acf0;
  color: white;
  min-height: 48px;
  /* font-size: 2vh; */
}

.jr_icon {
  vertical-align: middle;
  margin: 0 5px;
}

.but_primary_w {
  padding: 10px;
  border: 1px solid #002161;
  background-color: white;
  border-radius: 5px;
  color: #002161;
  margin: 10px 0;
}
.but_primary_w:hover svg {
  fill: white;
  transition: all ease 0.2s;
}
.but_primary_w:hover {
  background-color: #002161;
  color: white;
  transition: 0.5s;
  fill: #fce57e;
}
.but_primary {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #002161;
  background-color: #002161;
  border-radius: 5px;
  color: white;
}

.but_primary:hover {
  background-color: #0f388a;
  transition: 0.5s;
}
.dropdown-content {
  display: block;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 2;
  min-width: 160px;
  text-align: left;
}
.dropdown-content h4 {
  display: block;
  /* padding: 12px 16px; */
  text-align: left;
  color: gray;
}

#triggle:checked + .dropdown_jr:hover .dropdown-content {
  display: block;
}

.jr_sky {
  color: #65acf0;
}
.jr_chip {
  font-size: 12px;
  border: 1px solid #002161;
  background-color: white;
  border-radius: 3px;
  text-align: center;
  padding: 2px 5px;
  width: fit-content;
  line-height: 14px;
}

.text_color_primary {
  color: #002161;
}
.text_color_sky {
  color: #65acf0;
}
.jr_chip:active {
  border: 1px solid red;
}

.jr_f18 {
  font-size: 18px;
}
.jr_f16 {
  font-size: 16px;
}
.jr_f14 {
  font-size: 14px;
}
.jr_f12 {
  font-size: 12px;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  position: absolute;
  right: 0;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color_primary);
}

.jr_select {
  cursor: pointer;
  height: 35px;
  background: white;
  color: gray;
  border-radius: 0.25rem;
  padding: 6px 28px 6px 12px;
  border-color: #ced4da;
  font-size: 14px;
}
.jr_selcet option {
  color: #002161;
  font-weight: small;
  display: flex;
  white-space: pre;
  min-height: 20px;
  padding: 10px;
  margin: 10px;
}
.jr_option {
  color: black;
  font-weight: small;
  display: flex;
  white-space: pre;
  min-height: 20px;
  padding: 0px 2px 1px;
}
.jr_fullWidth {
  width: 100%;
}

.jr_color_primary {
  color: var(--color_primary);
}
.jr_color_gray {
  color: var(--color_gray);
}
.jr_color_blue {
  color: var(--color_blue);
}

.jr_hover_blue:hover {
  color: var(--color_light_blue);
}
.underline_text {
  position: relative;
  padding-bottom: 5px;
}
.underline_text:before {
  content: "";
  position: absolute;
  width: 71px;
  height: 1px;
  background: #002161;
  bottom: 0;
}

.jr_blod {
  font-weight: bolder;
}

.svg-wrapper {
  display: flex;
  align-items: center;
  /* height: 100%; */
}

.svg-wrapper > svg {
  /* display: block; */
  /* margin: 0 auto; */
}
